In [1]:
# imports
import sys
import pandas as pd

In [2]:
# import custom libraries and scripts
# sys.path.append(os.path.abspath(os.path.join("../..")))
sys.path.append(".")
sys.path.append("..")

from defaults import *
from extract_dataframe import read_json
from extract_dataframe import TweetDfExtractor
from clean_tweets_dataframe import Clean_Tweets

In [3]:
# read data
global_data = pd.read_json('../data/processed_global_tweet_data.json')
global_data.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,status_count,retweet_count,screen_name,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,2022-08-07 22:31:20+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @i_ameztoy: Extra random image (I):\n\nLets...,-1.250000e-01,0.190625,en,4,8097,2,i_ameztoy,i_ameztoy,20497,2621,NaN,"[{'text': 'City', 'indices': [132, 137]}]","[{'screen_name': 'i_ameztoy', 'name': 'Iban Am...",
1,2022-08-07 22:31:16+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @IndoPac_Info: #China's media explains the ...,-1.000000e-01,0.100000,en,691,5831,201,ZIisq,ZIisq,65,272,NaN,"[{'text': 'China', 'indices': [18, 24]}, {'tex...","[{'screen_name': 'IndoPac_Info', 'name': 'Indo...",
2,2022-08-07 22:31:07+00:00,"<a href=""http://twitter.com/download/android"" ...","China even cut off communication, they don't a...",0.000000e+00,0.000000,en,0,1627,0,Fin21Free,Fin21Free,85,392,NaN,"[{'text': 'XiJinping', 'indices': [127, 137]}]","[{'screen_name': 'ZelenskyyUa', 'name': '–í–æ–ª–æ–¥...",Netherlands
3,2022-08-07 22:31:06+00:00,"<a href=""http://twitter.com/download/android"" ...","Putin to #XiJinping : I told you my friend, Ta...",1.000000e-01,0.350000,en,0,1627,0,Fin21Free,Fin21Free,85,392,NaN,"[{'text': 'XiJinping', 'indices': [9, 19]}]",[],Netherlands
4,2022-08-07 22:31:04+00:00,"<a href=""http://twitter.com/download/iphone"" r...","RT @ChinaUncensored: I‚Äôm sorry, I thought Taiw...",-6.938894e-18,0.556250,en,1521,18958,381,VizziniDolores,VizziniDolores,910,2608,NaN,[],"[{'screen_name': 'ChinaUncensored', 'name': 'C...","Ayent, Schweiz"

In [4]:
global_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22000 entries, 0 to 21999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          22000 non-null  datetime64[ns, UTC]
 1   source              22000 non-null  object
 2   original_text       22000 non-null  object
 3   polarity            22000 non-null  float64
 4   subjectivity        22000 non-null  float64
 5   lang                22000 non-null  object
 6   favorite_count      22000 non-null  int64
 7   status_count        22000 non-null  int64
 8   retweet_count       22000 non-null  int64
 9   screen_name         22000 non-null  object
 10  original_author     22000 non-null  object
 11  followers_count     22000 non-null  int64
 12  friends_count       22000 non-null  int64
 13  possibly_sensitive  6191 non-null   float64
 14  hashtags            22000 non-null  object
 15  user_mentions       22000 non-null  object
 16  place               22000 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(5), object(8)
memory usage: 3.0+ MB

In [5]:
global_data.describe()

,polarity,subjectivity,favorite_count,status_count,retweet_count,followers_count,friends_count,possibly_sensitive
count,22000.000000,22000.000000,22000.000000,2.200000e+04,22000.000000,2.200000e+04,22000.000000,6191.000000
mean,0.061325,0.283839,852.137318,5.446036e+04,176.750182,1.796764e+04,1563.114455,0.037151
std,0.223701,0.290963,3106.077645,1.454120e+05,498.435765,3.030478e+05,4358.651264,0.189146
min,-1.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,0.000000,0.000000,2.000000,2.105750e+03,2.000000,5.700000e+01,137.000000,0.000000
50%,0.000000,0.200000,115.000000,1.038750e+04,38.000000,2.840000e+02,487.000000,0.000000
75%,0.133333,0.468824,655.000000,4.526150e+04,187.000000,1.324500e+03,1599.000000,0.000000
max,1.000000,1.000000,65170.000000,4.108317e+06,17409.000000,1.449852e+07,208360.000000,1.000000

## Pre-process

In [6]:
cleaner = Clean_Tweets(global_data)

Automation in Action...!!!

### Remove duplicated rows

In [7]:
global_data.shape

(22000, 17)

In [8]:
global_data = cleaner.drop_duplicate(global_data)
global_data.shape

(7440, 17)

As we can see there were too many duplicates

### Extract source clearly

In [9]:
global_data['source']

0        <a href="http://twitter.com/download/android" ...
1        <a href="http://twitter.com/download/android" ...
2        <a href="http://twitter.com/download/android" ...
3        <a href="http://twitter.com/download/android" ...
4        <a href="http://twitter.com/download/iphone" r...
                               ...
21974    <a href="https://mobile.twitter.com" rel="nofo...
21987    <a href="http://twitter.com/download/iphone" r...
21989    <a href="http://twitter.com/download/iphone" r...
21991    <a href="http://twitter.com/download/android" ...
21997    <a href="http://twitter.com/download/android" ...
Name: source, Length: 7440, dtype: object

In [10]:
global_data['source'] = cleaner.extract_device_name(global_data)

In [11]:
global_data['source']

0        Twitter for Android
1        Twitter for Android
2        Twitter for Android
3        Twitter for Android
4         Twitter for iPhone
                ...
21974        Twitter Web App
21987     Twitter for iPhone
21989     Twitter for iPhone
21991    Twitter for Android
21997    Twitter for Android
Name: source, Length: 7440, dtype: object

source has been clearly extracted

### Remove tweets that are not english

In [12]:
global_data.lang.value_counts()

en    7440
Name: lang, dtype: int64

All tweets are in English, there is nothing to remove

### Missing values

In [13]:
global_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7440 entries, 0 to 21997
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          7440 non-null   datetime64[ns, UTC]
 1   source              7440 non-null   object
 2   original_text       7440 non-null   object
 3   polarity            7440 non-null   float64
 4   subjectivity        7440 non-null   float64
 5   lang                7440 non-null   object
 6   favorite_count      7440 non-null   int64
 7   status_count        7440 non-null   int64
 8   retweet_count       7440 non-null   int64
 9   screen_name         7440 non-null   object
 10  original_author     7440 non-null   object
 11  followers_count     7440 non-null   int64
 12  friends_count       7440 non-null   int64
 13  possibly_sensitive  3977 non-null   float64
 14  hashtags            7440 non-null   object
 15  user_mentions       7440 non-null   object
 16  place               7440 non-null   object
dtypes: datetime64[ns, UTC](1), float64(3), int64(5), object(8)
memory usage: 1.0+ MB

In [14]:
global_data.isna().sum()

created_at               0
source                   0
original_text            0
polarity                 0
subjectivity             0
lang                     0
favorite_count           0
status_count             0
retweet_count            0
screen_name              0
original_author          0
followers_count          0
friends_count            0
possibly_sensitive    3463
hashtags                 0
user_mentions            0
place                    0
dtype: int64

Only the feature possibility sensitive have 3, 463 records of missing value

In [15]:
global_data.possibly_sensitive.value_counts()

0.0    3866
1.0     111
Name: possibly_sensitive, dtype: int64

As we can see there are 3,866 not sensitive and 111 sensitive tweets
And only 3,977 out of 7,440 tweets are recorded for sensitivity

### Handling missing values

In [16]:
global_data = cleaner.fill_missing(df = global_data, column="possibly_sensitive", value = "unknown")

In [17]:
global_data.isna().sum()

created_at            0
source                0
original_text         0
polarity              0
subjectivity          0
lang                  0
favorite_count        0
status_count          0
retweet_count         0
screen_name           0
original_author       0
followers_count       0
friends_count         0
possibly_sensitive    0
hashtags              0
user_mentions         0
place                 0
dtype: int64

In [18]:
global_data.possibly_sensitive.value_counts()

0.0        3866
unknown    3463
1.0         111
Name: possibly_sensitive, dtype: int64

The missing values of the possibly_sensitive feature has been successfully filled

In [19]:
global_data.columns

Index(['created_at', 'source', 'original_text', 'polarity', 'subjectivity',
       'lang', 'favorite_count', 'status_count', 'retweet_count',
       'screen_name', 'original_author', 'followers_count', 'friends_count',
       'possibly_sensitive', 'hashtags', 'user_mentions', 'place'],
      dtype='object')

In [20]:
global_data[['retweet_count', 'source', 'original_text', 'hashtags', 'place']]

,retweet_count,source,original_text,hashtags,place
0,2,Twitter for Android,RT @i_ameztoy: Extra random image (I):\n\nLets...,"[{'text': 'City', 'indices': [132, 137]}]",
1,201,Twitter for Android,RT @IndoPac_Info: #China's media explains the ...,"[{'text': 'China', 'indices': [18, 24]}, {'tex...",
2,0,Twitter for Android,"China even cut off communication, they don't a...","[{'text': 'XiJinping', 'indices': [127, 137]}]",Netherlands
3,0,Twitter for Android,"Putin to #XiJinping : I told you my friend, Ta...","[{'text': 'XiJinping', 'indices': [9, 19]}]",Netherlands
4,381,Twitter for iPhone,"RT @ChinaUncensored: I‚Äôm sorry, I thought Taiw...",[],"Ayent, Schweiz"
...,...,...,...,...,...
21974,3,Twitter Web App,RT @metesohtaoglu: üìåüì∏ Map of #China's possible...,"[{'text': 'China', 'indices': [29, 35]}, {'tex...","Seattle, WA"
21987,1,Twitter for iPhone,RT @NEVERBOW: China is doing #exactly what #Ru...,"[{'text': 'exactly', 'indices': [29, 37]}, {'t...",
21989,0,Twitter for iPhone,Minister Wu is crystal clear in his @BBCNews i...,"[{'text': 'Taiwan', 'indices': [168, 175]}, {'...","Toronto, Canada"
21991,0,Twitter for Android,Reports say that #China is planning to seize #...,"[{'text': 'China', 'indices': [17, 23]}, {'tex...",
21997,0,Twitter for Android,@Reuters Thanks #Pelosi smart move.,"[{'text': 'Pelosi', 'indices': [16, 23]}]",üá∫üá≤üá∑üá∫üá∫üá¶üá´üá∑üá¶üá™üáÆüá±üè≥Ô∏è‚Äçüåà

There are empty place values

In [21]:
global_data['place'].value_counts()

                                  2805
Vi·ªát Nam                           116
India                              107
United States                       72
Turn on üîî                           57
                                  ...
New York, New York                   1
Fontaines-Saint-Martin, France       1
üá∫üá≤üá∫üá≤üá∫üá≤                               1
Lisbon                               1
üá∫üá≤üá∑üá∫üá∫üá¶üá´üá∑üá¶üá™üáÆüá±üè≥Ô∏è‚Äçüåà                     1
Name: place, Length: 1809, dtype: int64

### Replace empty strings

In [22]:
global_data = cleaner.replace_empty_string(df = global_data, column="place", value = "unknown")
global_data['place'].value_counts()

unknown                           2805
Vi·ªát Nam                           116
India                              107
United States                       72
Turn on üîî                           57
                                  ...
New York, New York                   1
Fontaines-Saint-Martin, France       1
üá∫üá≤üá∫üá≤üá∫üá≤                               1
Lisbon                               1
üá∫üá≤üá∑üá∫üá∫üá¶üá´üá∑üá¶üá™üáÆüá±üè≥Ô∏è‚Äçüåà                     1
Name: place, Length: 1809, dtype: int64

The empty strings in the place (location) feature has been successfully filled

### Convert to datetime

In [23]:
global_data = cleaner.convert_to_datetime(global_data)
global_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7440 entries, 0 to 21997
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          7440 non-null   datetime64[ns, UTC]
 1   source              7440 non-null   object
 2   original_text       7440 non-null   object
 3   polarity            7440 non-null   float64
 4   subjectivity        7440 non-null   float64
 5   lang                7440 non-null   object
 6   favorite_count      7440 non-null   int64
 7   status_count        7440 non-null   int64
 8   retweet_count       7440 non-null   int64
 9   screen_name         7440 non-null   object
 10  original_author     7440 non-null   object
 11  followers_count     7440 non-null   int64
 12  friends_count       7440 non-null   int64
 13  possibly_sensitive  7440 non-null   object
 14  hashtags            7440 non-null   object
 15  user_mentions       7440 non-null   object
 16  place               7440 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(5), object(9)
memory usage: 1.0+ MB

In [24]:
global_data.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,status_count,retweet_count,screen_name,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,2022-08-07 22:31:20+00:00,Twitter for Android,RT @i_ameztoy: Extra random image (I):\n\nLets...,-1.250000e-01,0.190625,en,4,8097,2,i_ameztoy,i_ameztoy,20497,2621,unknown,"[{'text': 'City', 'indices': [132, 137]}]","[{'screen_name': 'i_ameztoy', 'name': 'Iban Am...",unknown
1,2022-08-07 22:31:16+00:00,Twitter for Android,RT @IndoPac_Info: #China's media explains the ...,-1.000000e-01,0.100000,en,691,5831,201,ZIisq,ZIisq,65,272,unknown,"[{'text': 'China', 'indices': [18, 24]}, {'tex...","[{'screen_name': 'IndoPac_Info', 'name': 'Indo...",unknown
2,2022-08-07 22:31:07+00:00,Twitter for Android,"China even cut off communication, they don't a...",0.000000e+00,0.000000,en,0,1627,0,Fin21Free,Fin21Free,85,392,unknown,"[{'text': 'XiJinping', 'indices': [127, 137]}]","[{'screen_name': 'ZelenskyyUa', 'name': '–í–æ–ª–æ–¥...",Netherlands
3,2022-08-07 22:31:06+00:00,Twitter for Android,"Putin to #XiJinping : I told you my friend, Ta...",1.000000e-01,0.350000,en,0,1627,0,Fin21Free,Fin21Free,85,392,unknown,"[{'text': 'XiJinping', 'indices': [9, 19]}]",[],Netherlands
4,2022-08-07 22:31:04+00:00,Twitter for iPhone,"RT @ChinaUncensored: I‚Äôm sorry, I thought Taiw...",-6.938894e-18,0.556250,en,1521,18958,381,VizziniDolores,VizziniDolores,910,2608,unknown,[],"[{'screen_name': 'ChinaUncensored', 'name': 'C...","Ayent, Schweiz"

### save current dataset

In [25]:
global_data.to_csv('../data/clean_data.csv', index = False)
global_data.to_json('../data/clean_data.json', indent = 4)
print('clean data saved successfully')

clean data saved successfully